body {
    background-color: #355e3b;
}

#countdown {
    float: right;
    text-align: center;
    border: 3px solid #004853;
    display:inline;
    padding: 5px;
    color: #004853;
    font-weight: bolder;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid navy;
}